* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #e3f2fd;
}

/* header */
.wrapper {
  width: 780px;
  border-radius: 20px;
  padding: 35px 40px;
  background: #141414;
}
.wrapper header {
  color: #b2b2b2;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header h2 {
  font-size: 1.6rem;
}
header .column {
  display: flex;
  align-items: center;
}
header .column span {
  font-weight: 500;
  margin-right: 15px;
  font-size: 1.19rem;
}
.volume-slider input {
  accent-color: #ffff;
}
.keys-checkbox input {
  appearance: none;
  width: 60px;
  height: 30px;
  border-radius: 30px;
  cursor: pointer;
  background: #4b4b4b;
  position: relative;
}
.keys-checkbox input::before {
  content: "";
  position: absolute;
  height: 20px;
  width: 20px;
  top: 50%;
  left: 5px;
  border-radius: inherit;
  background: #8c8c8c;
  transform: translateY(-50%);
  transition: all 0.3s ease;
}
.keys-checkbox input:checked::before {
  left: 35px;
  background: #fff;
}

/* Teclas */
.piano-keys {
  display: flex;
  margin-top: 40px;
}
.piano-keys .key {
  list-style: none;
  color: #a2a2a2;
  cursor: pointer;
  position: relative;
  user-select: none;
}

.piano-keys .white {
  cursor: pointer;
  width: 70px;
  height: 230px;
  border-radius: 8px;
  background: linear-gradient(#fff 95%, #eee 6%);
  border: 1px solid #000;
}
.piano-keys .white.active {
  box-shadow: inset -5px 5px 20px rgba(0, 0, 0, 0.2);
  background: linear-gradient(
    to bottom,
    #fff 0%,
    rgba(238, 238, 238, 0.805) 100%
  );
}

.piano-keys .black {
  cursor: pointer;
  width: 44px;
  height: 140px;
  margin: 0 -22px 0 -22px;
  z-index: 2;

  border-radius: 0 0 5px 5px;
  background: linear-gradient(#333, #000);
}
.piano-keys .black.active {
  box-shadow: inset -5px 5px 10px rgba(255, 255, 255, 0.2);
  background: linear-gradient(to bottom, #000 0%, #434343 100%);
}
.piano-keys span {
  position: absolute;
  bottom: 20px;
  width: 100%;
  text-align: center;
  font-size: 1.13rem;
}

.piano-keys .key.hide span {
  display: none;
}
